body.dark-mode{
    background-color: black;
    color:white;
    }
    body.dark-mode input,
    body.dark-mode input.hover{
    background-color: black;
    }
    body.dark-mode .form-control
    {
    background-color: black;
    color:white;}
     input[type="date"] {
            background-color: #3498db;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(1);
            opacity: 0.6;
        }

        input[type="date"]::-moz-focus-inner {
            border: 0;
        }

        input[type="date"]::-moz-date-and-time-picker-button {
            filter: invert(1);
            opacity: 0.6;
        }

        input[type="date"]::-ms-expand {
            display: none;
        }

        .form-label {
            color: white;
        }
        /* Add Collaboration Page Styles */

.form-group label {
  font-weight: bold;
}

.form-group textarea, .form-group input {
  width: 100%;
}

@media (min-width: 768px) {
  .form-group textarea, .form-group input {
    width: 60%;
  }
}

.btn-primary {
  width: 100%;
}

@media (min-width: 768px) {
  .btn-primary {
    width: 20%;
    margin-left: 40%;
  }
}

/* Flash message styles */
.flash-message-container {
  margin-top: 20px;
}

.flash-message-list {
  padding: 0;
}

.flash-message-item {
  list-style: none;
}
/* Add Collaboration Page Styles */

.form-group label {
  font-weight: bold;
}

.form-group textarea, .form-group input {
  width: 100%;
}

@media (min-width: 768px) {
  .form-group textarea, .form-group input {
    width: 60%;
  }
}

.btn-primary {
  width: 100%;
}

@media (min-width: 768px) {
  .btn-primary {
    width: 20%;
    margin-left: 40%;
  }
}

/* Flash message styles */
.flash-message-container {
  margin-top: 20px;
}

.flash-message-list {
  padding: 0;
}

.flash-message-item {
  list-style: none;
}
